.box {
  max-width: 640px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 45px;
}
.box a:active {
  background: #EEEEEE;
}
.portrait-all {
  height: 110px;
  background: #cc0000;
  overflow: hidden;
}
.portrait-all .portrait {
  margin: 25px 20px;
  width: 60px;
  height: 60px;
  float: left;
  border: solid 2px #FFFFFF;
  border-radius: 50%;
  overflow: hidden;
}
.portrait-all .portrait img {
  width: 100%;
  height: 100%;
}
.portrait-all .por-name {
  color: #FFFFFF;
  float: left;
  margin-left: 0.3rem;
  margin: 25px 0px;
  overflow: hidden;
}
.portrait-all .por-name h2 {
  font-size: 18px;
  margin-top: 5px;
}
.portrait-all .por-name p {
  font-size: 14px;
  line-height: 24px;
}
.nav-top {
  height: 62px;
  margin: 10px 0;
  overflow: hidden;
}
.nav-top div {
  margin: 0;
  padding: 0;
  position: relative;
}
.nav-top div:before {
  content: '';
  height: 45px;
  width: 1px;
  background: #EEEEEE;
  position: absolute;
  right: 0;
  top: 8.5px;
}
.nav-top a {
  overflow: hidden;
  text-align: center;
  display: block;
  color: #535353;
  padding-top: 8px;
  text-decoration: none;
}
.nav-top a i {
  margin-top: 5px ;
  font-size: 22px;
}
.nav-top a p {
  font-size: 14px;
}
.title {
  overflow: hidden;
  height: 32px;
  background: #f2f2f2;
}
.title h2 {
  line-height: 32px;
  margin: 0;
  font-size: 16px;
  color: #444444;
  font-weight: normal;
}
.order {
  padding: 0 15px;
  border-bottom: solid 1px #eeeeee;
  border-top: solid 1px #eeeeee;
  overflow: hidden;
}
.order div {
  width: 20%;
  margin: 0;
  padding: 0;
  border-right: solid 1px #eeeeee;
}
.order div a {
  overflow: hidden;
  text-align: center;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}
.order div a i {
  font-size: 30px;
  color: #cc0000;
}
.order div a p {
  font-size: 14px;
  color: #535353;
}
.query {
  height: 211px;
  border-top: solid 1px #eeeeee;
  padding-bottom: 20px;
  overflow: hidden;
  margin: 0;
}
.query div {
  height: 105px;
  padding: 0;
  margin: 0;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
  overflow: hidden;
}
.query a {
  overflow: hidden;
  padding-top: 25px ;
  text-align: center;
  display: block;
  text-decoration: none;
}
.query a i {
  font-size: 24px;
  color: #FFFFFF;
}
.query a p {
  font-size: 14px;
  color: #535353;
  line-height: 40px;
}
.query a .icon-1,
.query a .icon-2,
.query a .icon-3,
.query a .icon-4,
.query a .icon-xiaoxi,
.query a .icon-feiji,
.query a .icon-mima,
.query a .icon-xiadan,
.query a .icon-jiesuan,
.query a .icon-dingdanchaxun,
.query a .icon-kehuxinxi,
.query a .icon-xiaoshoue,
.query a .icon-m-summary,
.query a .icon-kucunchaxun,
.query a .icon-kucunyujing,
.query a .icon-baobiao,
.query a .icon-tuihuo{
  padding: 7px 8px;
  border-radius: 3px;
}
.query a .icon-2 {
  background: #a5b392;
}
.query a .icon-3 {
  background: #ff3300;
}
.query a .icon-4 {
  background: #55ACA8;
}
.query a .icon-xiaoxi {
  background:#F36861;
}
.query a .icon-feiji {
  background:#00ACEE;
}
.query a .icon-mima {
  background:#46B692;
}

.query a .icon-xiaoshoue {
  background:#80511B;
}
.query a .icon-m-summary {
  background:#6F64C0;
}
.query a .icon-kucunchaxun {
  background:#F76C02;
}
.query a .icon-kucunyujing {
  background:#9654B6;
}
.query a .icon-baobiao {
  background:#687E8C;
}
.query a .icon-tuihuo {
  background:#F26432;
}

.pos-nav {
  margin: 0;
  height: 45px;
  width: 100%;
  position: fixed;
  z-index: 999;
  bottom: 0;
  background: #FFFFFF;
  border-top: solid 1px #eeeeee;
  padding-top: 1px;
  overflow: hidden;
}
.pos-nav div {
  padding: 0;
}
.pos-nav a {
  text-decoration: none;
  overflow: hidden;
  color: #535353;
  display: block;
  text-align: center;
}
.pos-nav i {
  font-size: 16px;
  overflow: hidden;
}
.pos-nav p {
  font-size: 14px;
  color: #535353;
}
.pos-nav .nav-red i {
  color: #cc0000 !important;
}
.pos-nav .nav-red p {
  color: #cc0000 !important;
}
.listing {
  overflow: hidden;
}
.listing li {
  height: 50px;
  padding: 0 15px;
  border-bottom: solid 1px #eeeeee;
  overflow: hidden ;
}
.listing li:active {
  background: #eee;
}
.listing li a {
  text-decoration: none;
  overflow: hidden;
  color: #535353;
  display: block;
}
.listing li a i {
  font-size: 17px;
  color: #FFF;
  float: left;
}
.listing li a p {
  text-align: left;
  font-size: 14px;
  margin-left: 10px ;
  line-height: 50px;
  float: left;
}
.listing li a span {
  font-size: 17px;
  color: #707070;
  float: right;
  line-height: 50px;
}
a .li-icon1,
a .li-icon2,
a .li-icon3,
a .li-icon4,
a .li-icon5,
a .li-icon6,
a .li-icon7,
a .li-icon8,
a .li-icon9,
a .li-icon10,
a .li-icon11{
  background: #af5ef9;
  padding: 3px 7px;
  margin-top: 10px;
  border-radius: 3px;
}
a .li-icon2 {
  background: #a5b392;
}
a .li-icon3 {
  background: #ff3300;
}
a .li-icon4 {
  background: #77C316
}
a .li-icon5 {
  background: #80511B
}
a .li-icon6 {
  background: #6F64C0;
}
a .li-icon7 {
  background: #F76C02;
}
a .li-icon8 {
  background: #9654B6;
}
a .li-icon9 {
  background: #55ACA8;
}
a .li-icon10 {
  background: #687E8C;
}
a .li-icon11 {
  background: #F26432;
}
.search {
  height: 60px;
  border-bottom: solid 1px #EEEEEE;
  padding: 0 15px;
  overflow: hidden ;
}
.search div {
  height: 60px;
  margin: 0;
  padding: 0 5px;
}
.search div:nth-child(1) {
  width: 80%;
}
.search div:nth-child(2) {
  width: 20%;
  margin: 10px 0;
}
.search .search-input {
  overflow: hidden;
  width: 100%;
  height: 42px;
  margin: 10px 0;
  border: solid 1px #eeeeee;
  border-radius: 5px;
  position: relative;
}
.search .search-input i {
  position: absolute;
  font-size: 22px;
  line-height: 40px;
  padding-left: 5px;
  margin-top: 2px;
  color: #CCCCCC;
}
.search .search-input input {
  width: 100%;
  height: 44px;
  padding-left: 30px;
  background: #eaeaea;
  margin-top: -1px;
  color: #535353;
  font-size: 14px;
  font-weight: normal;
  border: none;
}
.search a {
  height: 40px;
  display: block;
  text-align: center;
  padding: 0;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 40px;
  background: #eeb415;
  border-radius: 3px;
  overflow: hidden;
}
.shaixuan {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: absolute;
  background: #CCCCCC;
  margin: 0;
  z-index: 999;
}
.shaixuan .sx-lfet ul {
  overflow: hidden;
}
.shaixuan .sx-lfet ul li {
  height: 40px;
  background: #FFFFFF;
  overflow: hidden;
}
.shaixuan .sx-lfet ul li a {
  text-decoration: none;
  display: block;
  line-height: 40px;
}
.select {
  overflow: hidden;
}
.select div {
  text-align: center;
  overflow: hidden;
  border-bottom: solid 1px #eeeeee;
  position: relative;
}
.select div:active {
  background: #EEEEEE;
}
.select div:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  right: 0;
  top: 10px;
  background: #eeeeee;
}
.select div p {
  font-size: 14px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}
.select div p span {
  padding-left: 5px;
}
.their {
  overflow: hidden;
}
.their .modal-dialog {
  margin-top: 120px;
}
.their .modal-header {
  padding: 0;
}
.their .modal-header button {
  padding: 10px;
}
.their .modal-footer {
  padding: 10px;
}
.their .modal-footer button {
  padding: 5px;
}
.their .modal-footer button:first {
  background: #E4B9B9 !important;
}
.their h4 {
  font-size: 16px;
  padding: 10px;
}
.brief {
  overflow: hidden;
}
.brief li {
  height: 82.5px;
  border-bottom: solid 1px #eeeeee;
  overflow: hidden;
}
.brief .brief-left {
  padding: 0 10px;
  float: left;
  overflow: hidden;
}
.brief .brief-left h2 {
  font-size: 16px;
  margin-top: 6px;
}
.brief .brief-left strong {
  font-size: 14px;
  color: #a0a0a0;
  padding-top: 5px;
  font-weight: normal;
  display: block;
}
.brief .brief-right {
  padding: 0 10px;
  float: right;
  overflow: hidden;
}
.brief .brief-right p {
  margin: 0;
  margin-top: 6px;
  font-size: 14px ;
  text-align: right;
}
.brief .brief-right span {
  color: #eeb415;
}
.stock {
  overflow: hidden;
}
.stock li {
  height: 105px;
  border-bottom: solid 1px #eeeeee;
  overflow: hidden;
}
.stock div {
  height: 110px;
  padding: 10px 0;
  overflow: hidden;
}
.stock div:nth-child(1) {
  width: 195px;
  float: left;
  margin-left: 25px ;
  overflow: hidden;
}
.stock div:nth-child(1) p {
  font-size: 16px;
  margin: 0;
  color: #535353;
  margin-bottom: 5px;
}
.stock div:nth-child(1) span {
  font-size: 14px;
  color: #a0a0a0;
}
.stock div:nth-child(2) {
  width: 105px;
  float: right;
  margin-right: 25px;
  overflow: hidden;
}
.stock div:nth-child(2) p {
  text-align: right;
  font-size: 14px;
}
.stock div:nth-child(2) p span {
  color: #eeb415;
}
.stock div:nth-child(2) P:nth-child(2) {
  margin: 0;
  margin-top: 25px;
}
.serial {
  height: 30px;
  text-align: left;
  line-height: 30px;
  background: #fcf0d0;
  color: #7d7d7d;
  padding: 0 10px;
  overflow: hidden;
  font-size: 14px;
}
.product-name {
  height: 55px;
  font-size: 16px;
  padding: 10px 10px;
  overflow: hidden;
}
.shoujia {
  height: 60px;
  margin-top: 15px;
  border-bottom: solid 1px #eeeeee;
  overflow: hidden;
}
.shoujia div {
  padding: 0 25px;
}
.shoujia p {
  font-size: 16px;
  color: #959595;
  text-align: left;
}
.shoujia strong {
  font-weight: normal;
  color: #eeb415;
}
.kc-list {
  overflow: hidden;
}
.kc-list li {
  height: 40px;
  padding: 0 10px;
  border-bottom: solid 1px #eeeeee;
  overflow: hidden;
}
.kc-list li p {
  font-size: 14px;
  line-height: 40px;
}
.kc-list li p span {
  float: right;
  color: #a0a0a0;
}
.kc-list li p .ts-color {
  color: #eeb415;
}
.dope {
  overflow: hidden;
}
.dope a {
    height: 60px;
    border-bottom: solid 1px #eeeeee;
    overflow: hidden;
    padding: 10px 10px;
    display: block;
    position: relative;
}
.dope a .next-more {
    position: absolute;
    top: 16px;
    font-size: 20px;
    right: 4px;
    color: #a0a0a0;
    overflow: hidden;
}

.dope a .dope-icon {
  width: 35px;
  height: 35px;
  background: #eeb415;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  color: #FFF;
  font-size: 22px;
  float: left;
  overflow: hidden;
  position: absolute;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
.dope a .dope-show {
    width: 100%;
    float: right;
    overflow: hidden;
    padding-left: 44px;
    padding-right: 20px;
}
.dope li .dope-show span {
  font-size: 14px;
  color: #535353;
}
.dope li .dope-show span strong {
  font-weight: normal;
  font-size: 14px;
  float: right;
}
.dope li .dope-show p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  color: #a0a0a0;
}
.gather-top {
  height: 60px;
  border-bottom: solid 1px #eeeeee;
  padding: 10px 0;
  overflow: hidden;
}
.gather-top .gather-cont {
  height: 40px;
  overflow: hidden;
  position: relative;
}
.gather-top .gather-cont div:nth-child(1) {
  width: 80%;
  padding-left: 35px;
  overflow: hidden;
}
.gather-top .gather-cont div:nth-child(1) select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  background: #EEEEEE;
  color: #969696;
}
.gather-top .gather-cont div:nth-child(1) select option {
  border-color: #EEEEEE ;
}
.gather-top .gather-cont div:nth-child(1) .fugai {
  width: 20px;
  height: 20px;
  background: #EEEEEE;
  position: absolute;
  right: 20px;
  top: 10px;
  overflow: hidden;
  color: #707070;
}
.gather-top .gather-cont div:nth-child(2) {
  width: 20%;
  margin: 0;
  padding: 0;
  padding-right: 35px;
  overflow: hidden;
}
.gather-top .gather-cont div:nth-child(2) a {
  height: 40px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 40px;
  background: #eeb415;
  border-radius: 3px;
  overflow: hidden;
}
.gather-top .gather-cont div:nth-child(2) a:active {
  background: #EEEEEE;
}
.gather-time {
  overflow: hidden;
}
.gather-time div {
  height: 60px;
  padding: 0;
  margin: 0;
}
.gather-time div:nth-child(1) {
  width: 45%;
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  padding-top: 10px;
}
.gather-time div:nth-child(1) select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  background: #EEEEEE;
  color: #535353;
}
.gather-time div:nth-child(1) select option {
  color: #535353;
}
.gather-time div:nth-child(2) {
  width: 10%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
}
.gather-time div:nth-child(3) {
  width: 45%;
  position: relative;
  overflow: hidden;
  padding-right: 20px;
  padding-top: 10px;
}
.gather-time div:nth-child(3) select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  background: #EEEEEE;
  color: #535353;
}
.gather-time div:nth-child(3) select option {
  text-align: center;
  border-color: #EEEEEE ;
}
.kewu,
.kehen,
.wunai {
  position: absolute;
  right: 5px;
  top: 20px;
  background: #EEEEEE;
}
.kehen {
  right: 25px;
}
.wunai {
  width: 40px;
  right: 20px;
  top: 10px;
  background: #FFFFFF;
}
.debt {
  overflow: hidden;
}
.debt .debt-l,
.debt .debt-r {
  float: left;
  font-size: 14px;
  line-height: 30px;
  padding-left: 10px;
}
.debt .debt-r {
  float: right;
  padding-right: 10px;
}
.debt span {
  color: #eeb415;
}
.yuer {
  overflow: hidden;
}
.yuer div:nth-child(1) {
  height: 60px;
  overflow: hidden;
  padding-left: 20px;
}
.yuer div:nth-child(1) select {
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 30px;
}
.yuer div:nth-child(2) {
  height: 60px;
  overflow: hidden;
  padding-left: 40px;
}
.yuer div:nth-child(2) select {
  width: 100%;
  height: 40px;
  border: none;
}
.should {
  width: 101%;
  margin-left: -1px;
  border: solid 1px #CCCCCC;
  overflow: hidden;
}
.should td {
  height: 40px;
  color: #626262;
  text-align: center;
}
.should td tr {
  width: 25%;
}
.detail-text {
  padding: 10px;
  border-bottom: solid 1px #EEEEEE;
  overflow: hidden;
}
.detail-text p {
  font-size: 16px;
  margin-bottom: inherit;
  line-height: 1.5;
  color: #444;
}
.detail-time {
  overflow: hidden;
}
.detail-time p {
  padding: 10px;
  margin-top: 10px;
  color: #7d7d7d;
  margin-bottom: inherit;
}
.detail-time p a {
  color: #535353;
  display: block;
  text-decoration: none;
  float: right;
  padding: 5px;
  margin-top: -5px;
  border-radius: 5px ;
}
.identifier {
  height: 40px;
  text-align: left;
  line-height: 40px;
  color: #898989;
  background: #fef9ec;
  padding: 0 10px;
  border-bottom: solid 1px #EEEEEE;
  overflow: hidden;
  font-size: 12px;
}
.identifier span {
  float: right;
  color: #46b692;
}
.money {
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding: 0 10px;
  border-bottom: solid 1px #EEEEEE;
}
.money div {
  overflow: hidden;
  margin: 0;
  padding: 0 !important;
  margin: 10px 0;
  text-align: center;
  border-right: solid 1px #eee;
}
.money div h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
  color: #eeb415;
}
.money div p {
  margin: 0;
  padding: 0;
  color: #535353;
  margin-top: 10px ;
}
.money div:last-child {
  border: none;
}
.record {
  background: #FFFFFF;
  color: #535353;
}
.record-all {
  overflow: hidden;
  margin: 0;
}
.record-all li {
  margin: 0;
  padding: 0;
  margin: 10px 0;
  padding: 0 10px;
  height: 105px;
  border-bottom: solid 1px #EEEEEE;
  overflow: hidden;
}
.record-left {
  overflow: hidden;
  margin: 0;
  padding: 0 !important;
  background: #fff;
}
.record-left p {
  font-size: 14px ;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 30px;
  margin-top: -5px;
  color: #535353;
}
.record-left p span {
  color: #898989;
  font-size: 12px ;
}
.append {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: hidden;
}
.append a {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 16px;
  display: block;
  line-height: 60px;
  background: #fabf00;
  color: #FFFFFF;
  text-decoration: none !important;
  overflow: hidden;
}
.popup {
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  display: none;
  overflow: hidden;
}
.popup-all {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 50%;
  margin-top: -200px;
  overflow: hidden;
}
.popup-conter {
  height: 400px;
  width: 95%;
  opacity: 1;
  margin-left: 2.5%;
  border-radius: 5px;
  background: #FFF !important;
  position: absolute;
  overflow: hidden;
}
.keng {
  margin: 0;
  padding: 0 !important;
  height: 40px;
}
.keng div {
  color: #535353;
  height: 50px;
}
.keng input {
  color: #535353 !important;
  height: 48px !important;
  font-size: 14px !important;
}
.keng select {
  color: #535353 ;
  margin: 0;
  padding: 0;
}
.append-top {
  height: 50px;
  border-bottom: solid 1px #EEEEEE;
  margin: 0;
  padding: 0;
  background: #EEEEEE;
  overflow: hidden;
}
.append-top div:nth-child(1) {
  width: 8% !important;
  padding: 0;
  padding-left: 10px;
  text-align: left;
}
.append-top div:nth-child(1) i {
  line-height: 50px;
  font-size: 20px;
}
.append-top div:nth-child(2) {
  width: 92% !important;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: #535353;
}
.ap-conter {
  overflow: hidden;
}
.ap-conter li {
  height: 50px;
  position: relative;
  overflow: hidden;
}
.ap-conter li select {
  height: 50px;
  display: block;
  color: #535353;
  border-bottom: solid 1px #EEEEEE;
}
.ap-conter li div {
  position: absolute;
  right: 0;
  background: #FFF;
  margin-top: 15px;
  margin-right: 2px;
  padding-right: 10px;
  color: #535353;
}
.ap-conter .jiner {
  margin: 0;
  width: 30%;
  float: left;
  padding-left: 10px;
  height: 50px;
  line-height: 50px;
  color: #535353;
}
.ap-conter input {
  width: 70%;
  height: 50px !important;
  border: solid 1px #000;
  float: right;
}
.ap-conter .shuru {
  margin: 0;
  width: 90px;
  height: 50px;
  float: right;
  line-height: 50px;
  color: #535353;
}
.ap-conter .shuru input {
  font-size: 14px ;
  float: right;
}
.ap-conter .queren {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #f75a53;
  color: #FFF;
  font-size: 14px;
  overflow: hidden;
}
.send {
  height: 96px;
  margin: 0;
  padding: 0;
  margin: 10px 0;
  border-bottom: solid 1px #EEEEEE;
  overflow: hidden;
}
.send div {
  margin: 0;
  padding: 0 !important;
}
.send div:nth-child(1) .yuan {
  margin-left: 10px;
  margin-top: 30px;
}
.send div:nth-child(1) .yuan label:before {
  top: 3px;
  left: 4px;
}
.send div:nth-child(1) .yuan label:after {
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #CCCCCC;
  top: 0px;
  left: 0;
  z-index: 0;
}
.shangpin {
  margin: -10px;
  width: 70px;
  height: 82px;
  padding-left: 10px;
  padding-top: 15px;
  overflow: hidden;
}
.shangpin img {
  overflow: hidden;
  margin-left: 10px;
}
.send-title p {
  width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  text-align: left;
  padding-right: 20px;
}
.send-title span {
  width: 10%;
  color: #a0a0a0;
}
.price {
  margin: 0;
}
.price li {
  padding: 0 !important;
}
.price li p {
  color: #535353;
}
.price li p span {
  color: #eeb415;
}
.price li:nth-child(2) {
  text-align: right;
}
.price li:nth-child(2) p {
  padding-right: 10px;
}
.shuliang {
  overflow: hidden;
}
.shuliang span {
  display: block;
  float: left;
  line-height: 24px;
}
.sl-sum {
  float: right;
  margin-right: 10px;
  width: 85px;
  border-bottom: solid 1px #EEEEEE;
  border-top: solid 1px #EEEEEE;
}
.sl-sum li {
  width: 44.3px;
  height: 20px;
  font-size: 14px;
  border-left: solid 1px #EEEEEE;
  border-right: solid 1px #EEEEEE;
  text-align: center;
  line-height: 20px;
  float: left;
  overflow: hidden;
}
.sl-sum .jia {
  width: 20px;
}
.sl-sum .jian {
  width: 20px;
}

.tianxie {
  border: none !important;
}
.tianxie input {
  width: 44.3px;
  height: 20px !important;
  margin: 0;
  overflow: hidden;
  border: none !important;
  font-size: 14px !important;
  text-align: center;
}
.tuihuo {
  height: 60px;
  width: 100%;
  overflow: hidden;
  border-top: solid 1px #EEEEEE;
  border-bottom: solid 1px #EEEEEE;
  position: fixed;
  bottom: 0px;
  margin-bottom: 0;
}
.tuihuo div {
  margin: 0;
  padding: 0 !important;
}
.tuihuo div:nth-child(2) {
  text-align: right;
}
.tuihuo div:nth-child(2) p {
  margin: 0;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #fabf00;
}
.tuihuo div:nth-child(2) span {
  margin-right: 10px;
}
.tuihuo div:nth-child(3) {
  background: #fabf00;
  height: 60px;
  overflow: hidden;
}
.tuihuo div:nth-child(3) a {
  display: block;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
}
.tuihuo .quanxuan {
  margin-top: 15px ;
  margin-left: 10px;
  overflow: hidden;
}
.tuihuo .quanxuan label:before {
  top: 3px !important;
  left: 4px !important;
}
.tuihuo .quanxuan label:after {
  content: '';
  width: 25px !important;
  height: 25px !important;
  border-radius: 50% !important;
  border: 1px solid #CCCCCC !important;
  top: 0px;
  left: 0;
  z-index: 0;
}
